
.containerSummary{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 3rem auto;
}
.boxTextSummary{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxTextSummary h1{
  font-size: var(--textoTitulo);
}
.boxTextSummary p{
  padding: 1rem;
  text-align: center;
}
.exampleImg2{
  width: 13rem;
}
@media screen and (min-width:767px){
.containerSummary{
  flex-direction: row;
  width: 65%;
  justify-content: center;
  gap: .5rem;
}
.exampleImg2{
  margin-top: 4.5rem;
  width: 15rem;
}
.boxTextSummary{
  padding-right: 2rem;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
}

.boxTextSummary > p{
  text-align: right;
  padding: 0;
  font-size: var(--textoPadrao);
}
}