
.containerSummary{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px red solid;
  width: 80%;
  margin: 3rem auto;
}
.boxTextSummary{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxTextSummary h1{
  font-size: var(--textoTitulo);
}
.boxTextSummary p{
  text-align: center;
}
.exampleImg2{
  width: 13rem;
}
@media screen and (min-width:767px){
.containerSummary{
  flex-direction: row;
  width: 65%;
  justify-content: center;
  gap: 2rem;
}
.exampleImg2{
  width: 15rem;
}
.boxTextSummary{
  padding-left: 1rem;
  align-items: baseline;
  justify-content: center;
  width: 50%;
}
.boxTextSummary > p{
  text-align: left;
  font-size: var(--textoPadrao);
}
}